<IfModule mod_rewrite.c>
RewriteBase /codeigniter
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L]
</IfModule>

# Set Enviornment

#SetEnv CI_ENV production
#SetEnv CI_ENV development
